

body {

	padding-top: 0px;
	font-family: 'Open Sans', sans-serif;

}

.h-title-yellow {
	color: red;
}

}



.main-copy {
	background-color:white;
	padding: 50px;
	margin-top: -20px;
}

.main-copy h2 {
	color: #F01616;

}


.grey {
	color: #C9C9BB;
}


.container-main {
	background-color:white ;
	padding-top:0px;
	margin-top: 0px;
}

.centre {
	text-align: center;
}


.yellow {
	background-color: #E3E166;
}


.green {
	background-color: #009900;
}




.red {
	background-color: #F70A0A;
}

.navbar-toggle {
	background-color: #DBD823;
	border-color: #10632F;
}

button span {
	background-color: #10632F ;
}

.help_buttons {
text-align: center;
border: 2px solid black;
padding:18px;
color: black;

}


.nav, .nav  {
	background-color: #10632F;
}

.nav ul li a{
	border: none;
	color: #1a1a00;


}

.nav ul li a:hover {
	color: red;
	font-weight: bold;
}

.navbar-brand {
	color:yellow;
}

.navbar-brand:hover {
	color:black;
}

footer {
	background-color: #10632F;
	padding-top:20px;

}


.social {
	display: none;
	position:absolute;
	right: 0;
	padding: 10px;
	z-index: 1;
}

.btn-social {
	margin-left: 10px;
	border-radius: 10px;
	height: 40px;
	width: 87px;

}


.facebook{
	background-color: #3b5998;
	color: white;
}

.twitter {
		background-color: #55acee;
	color: white;
}



.carousel-caption {
	display: none;
}

.mobile-only {
	display: inline;
}



@media (min-width: 640px) {
	.mobile-only {
		display:none;
	}
	.social {
		display: block;
	}
	#escape {
		display: block;

	}

	.carousel-caption {
		display: inline;
	}
}


.escape {
	display: none;
	position: absolute;
	left: 0;
	height:100px;
	width: 100px;
	margin:10px;
	border-radius: 50px;
	background-color: #8c1aff;
	border: dotted 2px white;
	color: #d1e0e0;
	z-index: 1;
	}



.valerie {
	size:100%;
	border-radius: 2px;
	border: 5px solid grey;
}


.inner-column {
    padding:30px;
	}

.inner-padding {
	padding-top:15px;
	}


.jumbotron h2{
    color: #00802b;
	}


.jumbotron h4{
     color: #00802b;
	 }

.emphasise {
	font-style: italic;
}

.jumbotron  {
	background-color: white;
	padding-bottom: 0px;

}

.jumbotron .text-area {
	background-color: #ffffb3;
	
}

.jumbotron img {
	border-radius: 3px;
	border: solid #C9C9BB 2px;

}


.valerie {
	margin-top: 50px
}

.logo {
	height: auto;
	width: 55%;
}

#panel-yellow {
	border: dotted black 2px;
	background-color: #ffff66;
}

#panel-red {
	border: dotted  black 2px;
	background-color:  #ff6666;
}

#panel-green {
	border: dotted black 2px;
	background-color: #66ff66
;
}

.panel-title {
	font-weight: bold;
}


.link{
	color: #3333ff;
}

.portrait {
	display: block;
	padding-top: 40px;
	margin: auto;

}