
body {
	
	padding-top: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #DBD823;

}



#our-work {
background-color: #ffffff;
}


.main-copy {
	background-color:white;
	padding: 50px;
	margin-top: 0px;
}

.main-copy h2 {
	color: #F01616;
	
}

.grey {
	color: #C9C9BB;
}


.container-main {
	background-color:white ;
}

.centre {
	text-align: center;
}


.yellow {
	background-color: #E3E166;
}


.green {
	background-color: #10632F;
}




.red {
	background-color: #F70A0A;
}

.navbar-toggle {
	background-color: #DBD823;
	border-color: #10632F;
}

button span {
	background-color: #10632F ;
}

.help_buttons {
text-align: center;
border: 2px solid black;
padding:18px;
color: black;
		
}

.nav, .nav ul li {
	background-color: #10632F;
}

.nav ul li a{
	border: none;
	color:yellow;

}

.navbar-brand {
	color:black;
}


footer {
	background-color: #10632F;
	padding-top:20px;

}


.social {
	display: none;
	position:absolute;
	right: 0;
	padding: 10px;
	z-index: 1;
}

.btn-social {
	margin-left: 10px;
	border-radius: 10px;
	height: 40px;
	width: 87px;

}

@media (min-width: 640px) {
	.social {
		display: block;
	}
	#escape {
		display: block;

	}
}


.escape {
	display: none;
	position: absolute;
	left: 0;
	height:80px;
	width: 80px;
	margin:10px;
	border-radius: 4px;
	background-color: red;
	border: solid 2px black;
	color:black;
	z-index: 1;
	}


.picture-holder{
	background-color: red;
}



.inner-column {
    padding:30px;
	}

.inner-padding {
	padding-top:15px;
	}

<<<<<<< Updated upstream
.jumbotron h2{
    color: #fff;
	}
=======

  .jumbotron h2{
      color: #fff;
		}
>>>>>>> Stashed changes

.jumbotron h4{
     color: #fff;
	 }


.jumbotron  {
	background-color: #DBD823;
}

.jumbotron .text-area {
	background-color: #F01616;
}

.jumbotron img {
	border-radius: 3px;
	border: solid #C9C9BB 2px; */



hr {
	color: red;
}